{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Home page{% endblock title %}
{% block content %}
{{form.media}}
{% load mptt_tags %}

{{users}}+++++

<div x-data="task_details()">
    <button x-on:click="GiveVote()"
            class="mt-2 mb-3 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out mt-3" x-text="vote_btn">
    </button>

    <div x-show ="vote_count > 0">
        <span x-text="vote_count"></span> total vote.
    </div>
    <div x-show ="vote_count <= 0">
        <span>No votes yet.</span>
    </div>


    <div x-show="sub_btn_showing">
        <button @click="TaskSubscription()"
                class="mt-2 mb-3 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out mt-3"
                 x-text="sub_btn_text">
        </button>
    </div>
<div class="flex-1">
    <form method="post" action="{% url 'custom_admin:change_task_status' %}">
        <input type="hidden" value="{{object.slug}}" name="task_slug">
        {% csrf_token %}
        <select onchange="this.form.submit()" name="task_status">
             {% for board in boards %}
                <option value="{{board.id}}" {% if board.name == object.type.name %}selected{% endif %}>{{board.name}}</option>
            {% endfor %}
        </select>
    </form>
</div>

Task histories :
<ul class="mt-2 mb-2">
    {% for data in history_data %}
        <li># {{data.action_by.email}} {{data.note}}  ---------{{data.created | naturaltime }}</li>
    {% endfor %}
</ul>

<div class="flex items-center space-x-3 overflow-hidden">
    <div class="overflow-hidden font-medium flex items-center space-x-2">
        <p class="truncate">{{object.created_by.email}}</p>
    </div>
</div>

<h3 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Task - {{object.name}}</h3>

{% recursetree message_data %}
    <div class="block py-2 overflow-hidden transition" id="comment-7" x-data="{ show: false,showing_btn:true,showing_replay: false,showing_replay_btn:true,parent_id:'',text_value:'',message_id:''}">
            <header class="flex justify-between items-center">
                <div class="flex items-center px-4 py-2 space-x-2">
                    <div class="flex items-center space-x-3 overflow-hidden">
                        <div class="relative flex-shrink-0 w-10 h-10 rounded-full">
                            <img class="absolute inset-0 object-cover rounded-full" src="{{node.user.profile.photo.url}}">
                        </div>
                        <div class="overflow-hidden font-medium flex items-center space-x-2">
                            <p class="truncate">{{ node.user.email|safe }}</p>
                            {% if object.created_by == node.user %}
                                <span class="hidden md:block inline-flex items-center justify-center py-0.5 px-2 text-xs font-semibold tracking-tight text-brand-900 rounded-full bg-brand-200">
                                        Item author
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <time  class="flex-shrink-0 text-xs font-medium items-center text-gray-500">
                        {{node.created | naturaltime }}
                    </time>
                    {% if node.user == request.user %}
                        <button @click="show = !show,parent_id='',message_id={{node.id}},showing_btn = !showing_btn" x-show="showing_btn">
                        Edit
                        </button>
                        <label x-show="!showing_btn" @click="showing_btn= !showing_btn,show = !show,parent_id=''">Cancel</label>
                        {% else %}
                            <button @click="showing_replay = !showing_replay,text_value='',message_id='',parent_id={{node.id}},showing_replay_btn = !showing_replay_btn,parent_id={{node.id}}" x-show="showing_replay_btn">
                            Reply
                            </button>
                            <label x-show="!showing_replay_btn" @click="showing_replay_btn= !showing_replay_btn,showing_replay=!showing_replay,parent_id=''">Cancel</label>
                    {% endif %}
                </div>

            </header>

            <div class="p-4 prose" x-show="!show">
                <p>{{ node.text|safe }}</p>
            </div>
            <div x-show="showing_replay === true || show === true">
                <form method="post"  action="{% url 'project:save_comment' %}">{% csrf_token %}
                        <textarea class="ckeditor" name="text" id="comment_{{node.id}}" required>{{node.text|safe}}</textarea>
                        <input type="hidden" name="message_id"  x-model="message_id">
                        <input type="hidden" name="task_id" value="{{object.id}}">
                        <input type="hidden" name="task_slug" value="{{object.slug}}">
                        <input type="hidden" name="parent_id"  x-model="parent_id">
                        <input type="hidden" name="test" x-model="text_value">
                    <button type="submit">Submit</button>
                </form>
            </div>
            {% if not node.is_leaf_node %}
                <li class="ml-1 md:ml-6 block py-2 overflow-hidden transition">
                    {{children}}
             {% endif %}
        </div>
{% endrecursetree %}


<div x-init='()=> {let tribute = new Tribute(
            {
                trigger: "@",
                values: users,
                noMatchTemplate:"<span class=\"p-2\">No match found</span>",
                menuItemTemplate: function (item) {
                   return "<div class=\"flex items-center space-x-2\"><div>" + item.string + "</div></div>";
                }
            }
        )
     ;tribute.attach($refs.textarea);}'
     class="ml-4 mt-3">
    <form enctype="multipart/form-data" action="{% url 'project:save_comment' %}" method="post" class="mt-2">{% csrf_token %}
        <div class="mb-6 mt-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description</label>
<!--            {{ message_form.text|add_class:"ckeditor"}}-->
            <textarea name="text" required x-ref="textarea" rows="5" cols="50"></textarea>
            <span>{{message_form.text.description}}</span>
        </div>
        <input type="hidden" name="task_id" value="{{object.id}}">
        <input type="hidden" name="task_slug" value="{{object.slug}}">
        <button class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out mt-3" type="submit">Save</button>
    </form>
</div>
</div>


<script>
    let users = {{users|safe}}
    function task_details() {
        return {
          sub_btn_text: {% if object.is_subscribed %}'Unsubscribe'{% else %}'Subscribe'{% endif %},
          vote_btn : {% if is_voted %}'Voted'{% else %}'Vote here'{% endif %},
          vote_count : '{{object.get_vote_count}}',
          sub_btn_showing : {% if is_voted %}true{% else %}false{% endif %},
          TaskSubscription() {
            this.formData = {'task_id':'{{object.id}}'}
            fetch('/admin/change_task_subscription_status/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json','X-CSRFToken':'{{csrf_token}}' },
                body: JSON.stringify(this.formData)
            })
            .then(response => response.json())
            .then(data => {
                this.sub_btn_text = data.btn_status
            })
          },
          GiveVote(){
            this.formData = {'task_id':'{{object.id}}'}
            fetch('/admin/change_task_vote/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json','X-CSRFToken':'{{csrf_token}}' },
                body: JSON.stringify(this.formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.message == 'success'){
                    if (data.created){
                        this.vote_btn = 'Voted'
                        this.sub_btn_showing = true
                        this.sub_btn_text='Unsubscribe'
                        this.vote_count = parseInt(this.vote_count) + 1
                    }
                    else{
                        this.vote_btn = 'Vote here'
                        this.sub_btn_showing = false
                        this.sub_btn_text='Subscribe'
                        this.vote_count = 0
                    }
                }
             })
          }
        }
    }
</script>


{% endblock content %}


