{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load admin_extra_filters %}

{% block title %}Home page{% endblock title %}
{% block content %}
{% block extra_head %}
{{ block.super }}
  <meta property="og:title" content="Roadmap Task">
  <meta property="og:url" content="{{ request.path }}">
  <meta property="og:image" content="{% generate_og_image object.name object.slug 'Task' %}">
  <meta name="description" property="og:description" content="Roadmap Task page">
{% endblock %}


{{message_form.media}}
{% load mptt_tags %}

<div class="pb-4">
    <ul class="flex items-center space-x-0.5 text-sm font-medium text-gray-600">

        <li>
            <a class="transition hover:underline focus:outline-none focus:text-gray-800 focus:underline"
                href="#">
                {{object.project.title}}
            </a>
        </li>
        <li>
            <svg class="text-gray-400 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M10.75 8.75L14.25 12L10.75 15.25"></path>
            </svg>
        </li>

        <li>
            <a class="transition hover:underline focus:outline-none focus:text-gray-800 focus:underline"
                href="#">
                {{object.type.name}}
            </a>
        </li>
        <li>
            <svg class="text-gray-400 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M10.75 8.75L14.25 12L10.75 15.25"></path>
            </svg>
        </li>
        <li>
            <a class="transition hover:underline focus:outline-none focus:text-gray-800 focus:underline"
                href="#">
                {{object.name}}
            </a>
        </li>
    </ul>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="lg:col-span-2 space-y-4">
        <div class="p-2 space-y-2 bg-white shadow rounded-xl">
            <header class="flex items-center px-4 py-2 space-x-4">
                <div class="flex items-center flex-1 space-x-3 overflow-hidden">
                    <div class="relative flex-shrink-0 w-10 h-10 rounded-full">
                        <img class="absolute inset-0 object-cover rounded-full"
                            src="https://www.gravatar.com/avatar/683e4926b666ac877beb1e97cbf4837e?s=150"
                            alt="Rishab Unagar">
                    </div>

                    <div class="overflow-hidden font-medium">
                        <p>{{object.created_by.email}}</p>
                    </div>

                    <div class="flex-1">
                        <form method="post" action="{% url 'custom_admin:change_task_status' %}">
                          <input type="hidden" value="{{object.slug}}" name="task_slug">
                          {% csrf_token %}
                             <select {% if request.user.is_authenticated %} onchange="this.form.submit()" {% else %}onchange="window.location.href='/login'"{% endif %} name="task_status" class="float-right inline-flex items-center justify-center h-8 px-3 pt-1.5 pr-8 text-sm tracking-tight font-bold text-gray-700 border border-gray-400 rounded-lg bg-white">
                               {% for board in boards %}
                                  <option value="{{board.id}}" {% if board.name == object.type.name %}selected{% endif %}>{{board.name}}</option>
                               {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </header>
            <div class="border-t"></div>
            <div class="p-4 prose break-words">
                <p>{{object.description|safe}}</p>
            </div>
          {% recursetree message_data %}
            {% for child in node.get_family %}
                <div class="block py-2 overflow-hidden transition" x-data="{ show: false,showing_btn:true,showing_replay: false,message_text:'',showing_replay_btn:true,parent_id:'',text_value:'',message_id:''}" id="comment-6" {% if child.get_level == 1 %}style="margin-left: 50px"{% elif  child.get_level == 2 %}style="margin-left: 70px"{% elif  child.get_level == 3 %}style="margin-left: 90px"{% endif %}>
                  <header class="flex justify-between items-center">
                    <div class="flex items-center px-4 py-2 space-x-2">
                      <div class="flex items-center space-x-3 overflow-hidden">
                        <div class="relative flex-shrink-0 w-10 h-10 rounded-full">
                          <img class="absolute inset-0 object-cover rounded-full"
                               src="https://www.gravatar.com/avatar/4544c6cd4cd4fd104b407fc176491507?s=150"
                               alt="hiren.khatavara@acquaintsoft.com">
                        </div>
                        <div class="overflow-hidden font-medium flex items-center space-x-2">
                          <p class="truncate">{{ child.user.email|safe }}</p>
                          {% if object.created_by ==  request.user %}
                            <span class="bg-red-500 text-white inline-flex items-center justify-center py-0.5 px-2 text-xs font-semibold tracking-tight rounded-full">
                              Item author
                            </span>
                          {% endif %}
                        </div>
                      </div>
                      <span>·</span>
                      <time x-tooltip="tooltip" class="flex-shrink-0 text-xs font-medium items-center text-gray-500">
                        {{child.created | naturaltime }}
                      </time>
                    </div>
                    <div class="p-2 flex justify-between gap-2 items-center">
                  
                      {% if child.user == request.user %}
                      {% with text_data=child.text|safe %}
                      <a class="text-xs font-medium text-gray-500 hover:underline cursor-pointer"
                         @click="show = !show,parent_id='',message_id={{child.id}},showing_btn = !showing_btn",
                         x-show="showing_btn"  x-on:click="setCkeditorData('{{child.id}}')">
                        Edit
                      </a>
                      {% endwith %}
                      <a class="text-xs font-medium text-gray-500 hover:underline cursor-pointer" x-show="!showing_btn"
                         @click="showing_btn= !showing_btn,show = !show,parent_id=''">
                        Cancel
                      </a>
                      {% else %}
                      <a class="text-xs font-medium text-gray-500 hover:underline cursor-pointer"
                         @click="showing_replay = !showing_replay,text_value='',message_id='',parent_id={{child.id}},showing_replay_btn = !showing_replay_btn"
                         x-show="showing_replay_btn">
                        Reply
                      </a>
                      <a class="text-xs font-medium text-gray-500 hover:underline cursor-pointer" x-show="!showing_replay_btn"
                         @click="showing_replay_btn= !showing_replay_btn,showing_replay=!showing_replay,parent_id=''">
                        Cancel
                      </a>
                      {% endif %}
                  
                      <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-red h-4 w-4 text-brand-500" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1">
                          </path>
                        </svg>
                      </button>
                    </div>
                  </header>
                  <div class="p-4 prose" x-show="!show">
                    <p>{{ child.text|safe }}</p>
                  </div>
                  <div style="margin-top:10px" x-show="showing_replay === true || show === true">
                    <form method="post"  action="{% url 'project:save_comment' %}" onsubmit="submit.disabled=true; return true;">{% csrf_token %}
                      {% with child_msg_id=child.id data=child.text %}
                        {% render_field message_form.text id=child_msg_id %}
                      {% endwith %}
                        <input type="hidden" value="{{child.text}}" id="id_child_msg_{{child.id}}">
                        <input type="hidden" name="message_id"  x-model="message_id">
                        <input type="hidden" name="task_id" value="{{object.id}}">
                        <input type="hidden" name="task_slug" value="{{object.slug}}">
                        <input type="hidden" name="parent_id"  x-model="parent_id">
                        <input type="hidden" name="test" x-model="text_value">
                    <a {% if request.user.is_authenticated %} href="#" {% else %} href="{% url 'users:signing' %}" {% endif %}><button name="submit"
                        class="bg-blue-600 mt-3 filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300  focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800"
                        type={% if request.user.is_authenticated %} "submit" {% else %}"button" {% endif %}>
                        <span class="flex items-center gap-1 text-white"> <span class="">Submit</span></span>
                    </button></a>
                </form>
                  </div>
                </div>
            {% endfor %}
          {% endrecursetree %}
    <form enctype="multipart/form-data" action="{% url 'project:save_comment' %}" method="post" class="mt-2" onsubmit="submit.disabled=true; return true;">{% csrf_token %}
        <div class="mb-6 mt-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description</label>
            {{message_form.text}}
            <span>{{message_form.errors.description}}</span>
        </div>
        <input type="hidden" name="task_id" value="{{object.id}}">
        <input type="hidden" name="task_slug" value="{{object.slug}}">
      <a {% if request.user.is_authenticated %} href="#" {% else %} href="{% url 'users:signing' %}" {% endif %}><button class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out mt-3" name="submit" type={% if request.user.is_authenticated %} "submit" {% else %}"button" {% endif %}>Save</button></a>
        </div>
    </form>
</div>
    <div class="lg:col-span-1 space-y-4" x-data="task_details()">
        <div class="p-2 space-y-2 bg-white shadow rounded-xl space-y-4">
            <header class="px-2 py-2">
                <h2>{{object.name}}</h2>
                <time class="flex-shrink-0 text-sm font-medium text-gray-500">
                    {{object.created|date:"d/m/Y h:i:s A"}}
                </time>
            </header>

            <div class="border-t"></div>
            <div>
                <div class="flex items-center space-x-4 p-1">
                    <button type="button"  x-on:click="GiveVote()" :class="{ 'bg-blue-600': voted }"
                         class="filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300  focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800">
                        <span class="flex items-center gap-1">
                            <span class="" :class="{'text-white': voted }">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="2" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5">
                                    </path>
                                </svg>
                            </span>
                        </span>
                    </button>
                    <span  x-show ="vote_count <= 0">No votes yet.</span>
                    <span x-show ="vote_count > 0"><span x-text="vote_count"></span> total vote.</span>
                    <button x-show="sub_btn_showing"  @click="TaskSubscription()" class="border-b border-dotted font-semibold border-gray-500"  x-tooltip.raw="Unsubscribe so you don't receive any notifications anymore about this item" wire:click="unsubscribe" data-ol-has-click-handler="">
                      <span x-text="sub_btn_text"></span>
                    </button>

                </div>
                <div class="py-1 mx-2">
                </div>
            </div>
              {% if object.created_by.is_superuser %}
                <div>
                    <a class="text-red-500 hover:text-red-700 border-b ml-1"
                        href="{% url 'custom_admin:update_task' object.slug %}">Administer item</a>
                </div>
              {% endif %}

            
        </div>

        <div class="relative">
            <div class="absolute inset-y-0 left-0 h-full ml-4 border-l border-dashed"></div>
          
            <ul class="space-y-4">
              {% for history in history_data %}
                <li class="flex space-x-3">
                    <div
                        class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 text-gray-400 border border-gray-200 rounded-full bg-gray-50">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M12 18.25C15.5 18.25 19.25 16.5 19.25 12C19.25 7.5 15.5 5.75 12 5.75C8.5 5.75 4.75 7.5 4.75 12C4.75 13.0298 4.94639 13.9156 5.29123 14.6693C5.50618 15.1392 5.62675 15.6573 5.53154 16.1651L5.26934 17.5635C5.13974 18.2547 5.74527 18.8603 6.43651 18.7307L9.64388 18.1293C9.896 18.082 10.1545 18.0861 10.4078 18.1263C10.935 18.2099 11.4704 18.25 12 18.25Z">
                            </path>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                d="M9.5 12C9.5 12.2761 9.27614 12.5 9 12.5C8.72386 12.5 8.5 12.2761 8.5 12C8.5 11.7239 8.72386 11.5 9 11.5C9.27614 11.5 9.5 11.7239 9.5 12Z">
                            </path>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                d="M12.5 12C12.5 12.2761 12.2761 12.5 12 12.5C11.7239 12.5 11.5 12.2761 11.5 12C11.5 11.7239 11.7239 11.5 12 11.5C12.2761 11.5 12.5 11.7239 12.5 12Z">
                            </path>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                d="M15.5 12C15.5 12.2761 15.2761 12.5 15 12.5C14.7239 12.5 14.5 12.2761 14.5 12C14.5 11.7239 14.7239 11.5 15 11.5C15.2761 11.5 15.5 11.7239 15.5 12Z">
                            </path>
                        </svg>
                    </div>

                    <div>
                        <p class="text-sm font-medium">
                            <span class="font-semibold">
                                {{history.action_by.email}}
                            </span>
                            {{history.note}}
                        </p>

                        <span class="mt-1 text-xs font-medium text-gray-500"
                             x-tooltip="tooltip">{{history.created | naturaltime }}</span>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
</div>

<script>
    let users = {{users|safe}}
    var logged_user = '{{request.user.is_authenticated}}'
    var subscribed = '{{object.is_subscribed}}'
    var is_voted = '{% if vote_data %}True{% else %}False{% endif %}'
    console.log(is_voted,"is voted")
    var vote_count = '{{object.get_vote_count}}'
    var task_id = '{{object.id}}'
    var csrf_token = '{{csrf_token}}'
</script>
<script src="{% static 'js/task_details.js' %}"></script>
{% endblock content %}