<html>
<head>
    {% load static tailwind_tags %}
    {% load widget_tweaks %}
    {% load admin_extra_filters %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if general_settings.favicon_img %}
      <link rel="shortcut icon" href="{{general_settings.favicon_img.url}}"/>
    {% endif %}
    {% tailwind_css %}
    {% if general_settings.header_script %}
      {{general_settings.header_script|safe}}
    {% endif %}
    <link href="https://unpkg.com/browse/tributejs@5.1.3/dist/tribute.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tributejs/5.1.3/tribute.js" integrity="sha512-9FdZa5G/ycmgOvFvIPFc6MLCBzCbVeMyBh49+qlqnIbP1xitvVRAon7F4q2bX8n/7mP3HBb3SgrX5GNrJGYLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer
    ></script>
    <style>
        [x-cloak] { display: none }
    </style>
</head>
<body>
{% if request.user.is_authenticated and not request.user.is_active %}
<div class="relative bg-red-600 text-center">
        <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
            <div class="pr-16 sm:text-center sm:px-16 d-flex">
                <p class="font-medium text-white">
                    <span class="md:inline"> You have not verified your email yet, please verify your email. <a href="{% url 'users:email_verify' %}" class="text-white font-bold underline"> Verify <span aria-hidden="true">→</span></a></span>
                </p>
            </div>
        </div>
    </div>
{% endif %}

<header class="sticky top-0 z-10 w-full shadow text-white" style="background-color:{{general_settings.theme_color}}" x-data="Base()" x-init="init()">
    <div class="w-full px-4 mx-auto sm:px-6 md:px-8 max-w-[1500px]">
        <nav class="flex items-center justify-between h-20">
            <a class="text-2xl font-semibold tracking-tight" href="/">Roadmap</a>
            {% if messages %}
              {% for message in messages %}
                <div x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 3000)" class="filament-notifications-notification pointer-events-auto invisible flex gap-3 w-full transition duration-300 shadow-lg max-w-sm bg-white rounded-xl p-4 border border-gray-200 dark:border-gray-700 dark:bg-gray-800" x-transition:enter-start="opacity-0 translate-x-12" x-transition:leave-end="scale-95 opacity-0" x-data="notificationComponent({ notification: JSON.parse('{\u0022id\u0022:\u002297b1d103-9da3-4321-8b2f-2ab6ff9cda09\u0022,\u0022actions\u0022:[],\u0022body\u0022:null,\u0022duration\u0022:6000,\u0022icon\u0022:\u0022heroicon-o-check-circle\u0022,\u0022iconColor\u0022:\u0022success\u0022,\u0022title\u0022:\u0022Profile has been saved.\u0022}') })" wire:key="eGBWevU5HivCenQcRYA6.notifications.97b1d103-9da3-4321-8b2f-2ab6ff9cda09" dusk="filament.notifications.notification" style="display: flex; visibility: visible;">
                <svg class="filament-notifications-icon h-6 w-6 text-success-400" color="{% if message.tags == 'success' %}green{% else %}red{% endif %}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <div class="grid flex-1">
                  <div class="filament-notifications-title flex h-6 items-center text-sm font-medium text-gray-900 dark:text-gray-100">
                    <p>{{message}}</p>
                  </div>
               </div>
                <svg x-on:click="show = false" class="filament-notifications-close-button h-4 w-4 cursor-pointer text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              </div>
              {% endfor %}
            {% endif %}
            <ul class="items-center hidden space-x-3 text-sm font-medium text-gray-600 lg:flex">
                <li>
                    <kbd @click="$dispatch('toggle-spotlight')"
                         class="cursor-pointer p-1 items-center shadow justify-center rounded border border-gray-400 hover:bg-gray-200 bg-white font-semibold text-gray-900">CMD
                        + / to search</kbd>
                </li>

                {% if not request.user.is_authenticated %}
                    <li>
                        <a class="flex items-center justify-center font-normal text-white hover:text-gray-50 focus:outline-none"
                           href="{% url 'users:signing' %}">
                            Log in
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center font-normal text-white hover:text-gray-50 focus:outline-none"
                           href="{% url 'users:register' %}">
                            Register
                        </a>
                    </li>
                {% else %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a class="flex items-center justify-center w-10 h-10 text-red-500 transition rounded-full hover:bg-gray-500/5 focus:bg-blue-500/10 focus:outline-none"
                               href="{% url 'custom_admin:admin_home' %}">
                                <svg class="w-7 h-7 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{% url 'users:profile' %}">
                            <div class="relative w-7 h-7 rounded-full">
                                <div class="absolute inset-0 bg-gray-200 rounded-full animate-pulse"></div>

                                <img class="absolute inset-0 object-cover rounded-full"
                                     src="https://www.gravatar.com/avatar/4544c6cd4cd4fd104b407fc176491507?s=150"
                                     alt="hiren.khatavara@acquaintsoft.com">
                            </div>
                        </a><li>
                    </li>
                {% endif %}
                    <li>
                        <div
                               x-cloak
                                @keydown.escape="showModal = false"
                        >
                            <button class="filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300 hover:bg-gray-50 focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800"
                                    type="button" @click="showModal = true,title_error = false,description_error = false">
                                <svg class="filament-button-icon w-5 h-5 mr-1 -ml-2 rtl:ml-1 rtl:-mr-2 text-black"
                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="black" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <span class="flex items-center gap-1"> <span class=""> Submit item </span> </span>
                            </button>
                            </button>

                            <div
                                    class="fixed inset-0 z-0 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
                                    x-show="showModal"
                            >
                                <!-- Modal inner -->
                                <div
                                        class=" px-6 py-4 mx-auto text-left bg-white rounded shadow-lg w-1/2 h-100"
                                        @click.away="showModal = false"
                                        x-transition:enter="motion-safe:ease-out duration-300"
                                        x-transition:enter-start="opacity-0 scale-90"
                                        x-transition:enter-end="opacity-100 scale-100"

                                >
                                    <!-- Title / Close-->
                                    <div class="flex items-center justify-between mb-3">
                                        <h2 class="text-xl font-semibold tracking-tight">

                                            <div>
                                                Submit item
                                            </div>
                                            <div class="text-medium">
                                            </div>
                                        </h2>

                                        <button type="button" class="z-50 cursor-pointer" @click="showModal = false,title_error = false,description_error = false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="black">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M6 18L18 6M6 6l12 12"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <!-- content -->

                                    <div class="border-t"></div>
                                    {% if request.user.is_authenticated %}

                                    <form enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        {{ task_form.media }}
                                        <div class="grid grid-cols-1 filament-forms-component-container gap-6">
                                        <div
                                             class="col-span-1 ">
                                            <div class="filament-forms-field-wrapper">

                                                <div class="space-y-2">
                                                    <div class="flex items-center justify-between space-x-2 rtl:space-x-reverse mt-2">
                                                        <label class="filament-forms-field-wrapper-label inline-flex items-center space-x-3 rtl:space-x-reverse"
                                                               for="title">
                                                        <span class="text-sm font-medium leading-4 text-gray-700">
                                                            Title
                                                    <sup class="font-medium text-danger-700">*</sup>
                                                        </span>
                                                        </label>
                                                    </div>
                                                    <div class="filament-forms-text-input-component flex items-center space-x-2 rtl:space-x-reverse group">
                                                        <div class="flex-1">
                                                          
                                                            <input name="title" x-model="task_title"
                                                                   class="block w-full rounded-lg border-none px-3 py-2 shadow-sm ring-1 ring-inset transition duration-75 focus:ring-2 focus:ring-inset focus:ring-primary-500 disabled:opacity-70 sm:py-2.5 sm:text-sm ring-gray-300">
                                                             <span x-show="title_error" class="text-red-600">Please enter title</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <span class="text-sm font-medium leading-4 text-gray-700 mt-1">
                                                Content
                                            </span>
                                            </label>
                                            <textarea class="ckeditor" name="description" x-model="task_description"></textarea>
                                            <span x-show="description_error" class="text-red-600">Please enter description</span>
                                    {% else %}
                                    <div class="py-2 mt-3 mb-3">
                                        <p>Login to be able to submit an item.</p>
                                    </div>
                                    {% endif %}

                                    <footer class="flex items-center py-2 space-x-4 mt-2">
                                        {% if request.user.is_authenticated %}
                                        <button type="button" @click="SubmitItems()"
                                                class="filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300 hover:bg-gray-50 focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800">
                                                <span class="flex items-center gap-1">
                                            <span class="">
                                                Submit
                                            </span>
                                                </span>
                                        </button>
                                        {% endif %}
                                            <button @click="showModal = false" type="button"
                                                    class="filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300 hover:bg-gray-50 focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800">
                                                <span class="flex items-center gap-1">
                                            <span class="">
                                                Close
                                            </span>
                                                </span>
                                            </button>
                                    </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </li>
            </ul>

            <!-- Hamburger -->
            <div class="lg:hidden">
                <button class="text-white flex items-center justify-center w-10 h-10 -mr-2 transition rounded-full focus:outline-none"
                        type="button">
                    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M4.75 5.75H19.25"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M4.75 18.25H19.25"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                              d="M4.75 12H19.25"></path>
                    </svg>
                </button>
            </div>
        </nav>

        <!-- Mobile menu -->
        <nav class="-mx-2 lg:hidden">
            <div class="border-t border-brand-400"></div>

            <ul class="flex flex-col py-2 space-y-1 text-sm font-medium text-white">
                <li>
                    <a class="block p-2 transition rounded-lg focus:outline-none hover:bg-brand-500-400"
                       href="{% url 'home:home' %}">
                        Dashboard
                    </a>
                </li>

                <li>
                    <a class="block p-2 transition rounded-lg focus:outline-none hover:bg-brand-500-400"
                       href="#">
                        My items
                    </a>
                </li>

                <li>
                    <a class="block p-2 transition rounded-lg focus:outline-none hover:bg-brand-500-400"
                       href="#">
                        Profile
                    </a>
                </li>
                <li>
                    <div

                            @keydown.escape="showModal = false"
                    >
                        <!-- Trigger for     Modal -->
                        <button class="filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300 hover:bg-gray-50 focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800"
                                type="button" @click="showModal = true">
                            <svg class="filament-button-icon w-5 h-5 mr-1 -ml-2 rtl:ml-1 rtl:-mr-2 text-black"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <span class="flex items-center gap-1"> <span class=""> Submit item </span> </span>
                        </button>
                        </button>

                        <div
                                    class="fixed inset-0 z-0 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
                                    x-show="showModal"
                                   x-cloak
                            >
                                <!-- Modal inner -->
                                <div
                                        class=" px-6 py-4 mx-auto text-left bg-white rounded shadow-lg w-1/2 h-100"
                                        @click.away="showModal = false"
                                        x-transition:enter="motion-safe:ease-out duration-300"
                                        x-transition:enter-start="opacity-0 scale-90"
                                        x-transition:enter-end="opacity-100 scale-100"

                                >
                                    <!-- Title / Close-->
                                    <div class="flex items-center justify-between mb-3">
                                        <h2 class="text-xl font-semibold tracking-tight">

                                            <div>
                                                Submit item
                                            </div>
                                            <div class="text-medium">
                                            </div>
                                        </h2>

                                        <button type="button" class="z-50 cursor-pointer" @click="showModal = false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="black">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M6 18L18 6M6 6l12 12"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="border-t"></div>
                                    <div class="py-2 mt-3 mb-3">
                                        <p>Login to be able to submit an item.</p>
                                    </div>
                                    <div class="border-t"></div>
                                    <footer class="flex items-center py-2 space-x-4 mt-2">
                                        <button @click="showModal = false"  type="button" class="filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300 hover:bg-gray-50 focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800">

                                            <span class="flex items-center gap-1">
                                        <span class="">
                                            Close
                                        </span>
                                        </span>
                                        </button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                </li>
            </ul>
        </nav>


    </div>
</header>
<div class="w-full mx-auto py-5 md:space-x-10 grid grid-cols-6 w-full px-2 sm:px-6 md:px-8 max-w-[1500px]">
    <div class="hidden lg:block">
        <aside class="w-60" aria-label="Sidebar">
            <div class="overflow-y-auto space-y-4">
                <ul class="space-y-2">
                    <li  style="{% if request.path == '/' %}background-color: {{ general_settings.theme_color}}{% endif %}">
                        <a class="flex items-center h-10 px-2 space-x-2 transition rounded-lg  hover:bg-gray-500/5 focus:bg-brand-500/10 focus:text-brand-600 focus:outline-none"
                           href="{% url 'home:home' %}">
                            <svg class="w-5 h-5 text-gray-500 {% if request.path == '/' %}text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>
                            <span class="{% if request.path == '/' %}text-white{% endif %} font-normal">Dashboard</span>
                        </a>
                    </li>

                    <li style="{% if request.path == '/my/' %}background-color: {{ general_settings.theme_color}}{% endif %}">
                        <a class="flex items-center h-10 px-2 space-x-2 transition rounded-lg  hover:bg-gray-500/5 focus:bg-brand-500/10 focus:text-brand-600 focus:outline-none"
                           href="{% url 'users:my_items' %}">
                            <svg class="w-5 h-5 text-gray-500 {% if request.path == '/my/' %}text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"></path>
                            </svg>
                            <span class="{% if request.path == '/my/' %}text-white{% endif %}">My items</span>
                        </a>
                    </li>

                    <li style="{% if request.path == '/profile/' %}background-color: {{ general_settings.theme_color}}{% endif %}">
                        <a class="flex items-center h-10 px-2 space-x-2 transition rounded-lg  hover:bg-gray-500/5 focus:bg-brand-500/10 focus:text-brand-600 focus:outline-none"
                           href="{% url 'users:profile' %}">
                            <svg class="w-5 h-5 text-gray-500 {% if request.path == '/profile/' %}text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                            </svg>
                            <span class="{% if request.path == '/profile/' %}text-white{% endif %}">Profile</span>
                        </a>
                    </li>

                </ul>
                <div>
                    <p class="px-2 text-lg font-semibold mb-2">Projects</p>
                    <ul class="space-y-2">
                        {% for project in projects %}
                            {% if not project.is_private or project.created_by__email == request.user.email %}
                              {% url 'project:project_detail' project.slug as project_url %}
                                <li style="{% if request.path == project_url or project.title == object.project.title  %}background-color: {{ general_settings.theme_color}}{% endif %}">
                                    <a title="{{ project.title }}"
                                       class="flex items-center h-10 px-2 space-x-2 transition rounded-lg  hover:bg-gray-500/5 focus:bg-brand-500/10 focus:text-brand-600 focus:outline-none"
                                       href="{{project_url}}">
                                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 {% if request.path == project_url or project.title == object.project.title  %}text-white{% endif %}" xmlns="http://www.w3.org/2000/svg"
                                             fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path>
                                        </svg>
                                      <span class="font-normal truncate {% if request.path == project_url or project.title == object.project.title %}text-white{% endif %}">{{ project.title }}</span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div id="dropdown-cta" class="p-4 mt-6 bg-gray-100 rounded-lg" role="alert">
                    <p class="text-sm text-gray-500">
                        <a href="https://github.com/ploi-deploy/roadmap" target="_blank"
                           class="font-semibold border-b border-dotted">Open-source</a>
                        roadmapping software by
                        <a href="https://ploi.io/?ref=roadmap" target="_blank"
                           class="font-semibold border-b border-dotted">ploi.io</a>
                    </p>
                </div>
            </div>
        </aside>
    </div>

    <main class="flex-1 h-full col-span-6 lg:col-span-5 lg:border-l lg:pl-5">
        <div class="pb-4">
            <ul class="flex items-center space-x-0.5 text-sm font-medium text-gray-600">
            </ul>
        </div>
        {% block content %}
        {% endblock %}

    </main>
</div>
</body>
</html>

<script>
    var csrf_token = '{{csrf_token}}'
</script>
<script src="{% static 'js/home_base.js' %}"></script>
