{% extends 'custom_admin/old_admin_base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="ml-4 mt-3" x-data="addTask()">
    <h1 class="ml-3 mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Add new Task</h1>
    <form enctype="multipart/form-data" method="post" class="mt-2 ml-3">{% csrf_token %}
    {{ form.media }}
        <div class="mb-6 mt-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Name:</label>
            <input type="text" name="name" maxlength="150" autofocus="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span>{{form.errors.name}}</span>
        </div>
        <div class="mb-6 mt-2">
            <label for="created_by" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">User:</label>
                {{form.created_by}}
            <span>{{form.errors.created_by}}</span>
        </div>

        <div class="mb-6 mt-2" x-on:change="GetBoards($event)">
            <label for="project" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Project:</label>
                {{form.project}}
            <span>{{form.errors.project}}</span>
        </div>

        <div class="mb-6 mt-2">
            <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Board:</label>
                 <select name="type" class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white
focus:border-blue-600 focus:outline-none">
                     <option value="" selected="">---------</option>
                    <template x-for="board in boards" :key="board">
                      <option :value="board.id" x-text="board.name"></option>
                    </template>
                  </select>
            <span>{{form.errors.type}}</span>
        </div>

        <div class="mb-6 mt-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description</label>
            {{ form.description|add_class:"ckeditor"}}
            <span>{{form.errors.description}}</span>
        </div>
        <button class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out mt-3" type="submit">Save</button>
    </form>

    <script>

        function addTask(){
            return {
                boards : [],
                GetBoards($event){
                let project_id = $event.target.value
                 fetch('/admin/get_project_wise_board/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json','X-CSRFToken':'{{csrf_token}}' },
                    body: JSON.stringify({'project_id': $event.target.value})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message == 'success'){
                        let boards = JSON.parse(data.boards)
                        this.boards = boards
                    }
                 })
                }
            }
        }

    </script>
{% endblock content %}
