{% extends 'custom_admin/admin_base.html' %}
{% load humanize %}

{% block content %}
    <div class="filament-main-content flex-1 w-full px-4 mx-auto md:px-6 lg:px-8 max-w-full">
        <div class="filament-page filament-dashboard-page">
            <div class="space-y-6">
                <header class="filament-header space-y-2 items-start justify-between sm:flex sm:space-y-0 sm:space-x-4  sm:rtl:space-x-reverse sm:py-4">
                    <h1 class="text-2xl font-bold tracking-tight md:text-3xl filament-header-heading">
                        Dashboard
                    </h1>
                </header>
                <div class="filament-widgets-container grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 mb-6">
                    <div class="filament-widget col-span-1 filament-account-widget">
                        <div class="p-2 space-y-2 bg-white rounded-xl shadow dark:border-gray-600 dark:bg-gray-800">
                            <div class="space-y-2">
                                <div class="px-4 py-2 space-y-4">
                                    <div class="h-12 flex items-center space-x-4 rtl:space-x-reverse">
                                        <div class="w-10 h-10 rounded-full bg-gray-200 bg-cover bg-center dark:bg-gray-900"
                                             style="background-image: url('https://www.gravatar.com/avatar/4544c6cd4cd4fd104b407fc176491507?s=150')"></div>
                                        <div>
                                            <h2 class="text-lg sm:text-xl font-bold tracking-tight">
                                                Welcome, {{request.user.email}}
                                            </h2>
                                            <a href="{% url 'users:logout' %}">
                                            <button type="submit"
                                                    class="text-gray-600 hover:text-primary-500 focus:outline-none focus:underline dark:text-gray-300 dark:hover:text-primary-500">
                                                Sign out
                                            </button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filament-widget col-span-1 filament-filament-info-widget">
                    </div>

                    <div class="filament-widget col-span-1 filament-widgets-table-widget">
                        <div class="filament-tables-component">
                            <div class="border border-gray-300 shadow-sm bg-white rounded-xl filament-tables-container dark:bg-gray-800 dark:border-gray-700">
                                <div>
                                    <div class="px-2 pt-2">
                                        <div class="filament-tables-header px-4 py-2 mb-2">
                                            <div class="flex flex-col gap-4 md:justify-between md:items-start md:flex-row md:-mr-2">
                                                <div>
                                                    <h2 class="filament-tables-header-heading text-xl font-bold tracking-tight">
                                                        Latest Items
                                                    </h2>

                                                    <p class="filament-tables-header-description">

                                                    </p>
                                                </div>
                                                <div class="filament-tables-actions-container flex flex-wrap items-center gap-4 shrink-0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="overflow-y-auto relative dark:border-gray-700 border-t">
                                    <table class="filament-tables-table w-full text-left rtl:text-right divide-y table-auto dark:divide-gray-700">
                                        <thead>
                                        <tr class="bg-gray-500/5">
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button"
                                                        class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                    <span>
                                                        Title
                                                    </span>

                                                </button>
                                            </th>
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button"
                                                        class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                    Total votes
                                                </span>

                                                </button>
                                            </th>
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button"
                                                        class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                    <span>
                                                        Project
                                                    </span>

                                                </button>
                                            </th>
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button"
                                                        class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                    <span>
                                                        Board
                                                    </span>
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody class="divide-y whitespace-nowrap dark:divide-gray-700">
                                        {% for latest_item in latest_items %}

                                            <tr class="filament-tables-row hover:bg-gray-50 dark:hover:bg-gray-500/10">
                                                <td class="filament-tables-cell dark:text-white">
                                                    <a href="{% url 'custom_admin:update_task' latest_item.slug %}" target="_blank">
                                                        <div class="filament-tables-text-column px-4 py-3">
                                                            {{latest_item.name}}
                                                        </div>
                                                    </a>
                                                </td>

                                                <td class="filament-tables-cell dark:text-white">
                                                    <div class="filament-tables-text-column px-4 py-3">
                                                        {{latest_item.get_vote_count}}
                                                    </div>
                                                </td>
                                                <td class="filament-tables-cell dark:text-white">
                                                    <div class="filament-tables-text-column px-4 py-3">
                                                        {{latest_item.project.title|default_if_none:"-"}}
                                                    </div>
                                                </td>
                                                <td class="filament-tables-cell dark:text-white">
                                                    <div class="filament-tables-text-column px-4 py-3">
                                                        {{latest_item.type.name}}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div wire:id="zJfL5XGtE5V4y4CU1UGx"
                         class="filament-widget col-span-1 filament-widgets-table-widget">
                        <div class="filament-tables-component">
                            <div class="border border-gray-300 shadow-sm bg-white rounded-xl filament-tables-container dark:bg-gray-800 dark:border-gray-700">
                                <div>
                                    <div class="px-2 pt-2">
                                        <div class="filament-tables-header px-4 py-2 mb-2">
                                            <div class="flex flex-col gap-4 md:justify-between md:items-start md:flex-row md:-mr-2">
                                                <div>
                                                    <h2 class="filament-tables-header-heading text-xl font-bold tracking-tight">
                                                        Popular Items
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="overflow-y-auto relative dark:border-gray-700 border-t">
                                    <table class="filament-tables-table w-full text-left rtl:text-right divide-y table-auto dark:divide-gray-700">
                                        <thead>
                                        <tr class="bg-gray-500/5">
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button" class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                    <span>
                                                        Title
                                                    </span>
                                                </button>
                                            </th>
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button"
                                                        class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                    <span>
                                                        Total votes
                                                    </span>
                                                </button>
                                            </th>
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button" class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                    Project
                                                </span>

                                                </button>
                                            </th>
                                            <th class="filament-tables-header-cell p-0">
                                                <button type="button" class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                    Board
                                                </span>
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody class="divide-y whitespace-nowrap dark:divide-gray-700">
                                            {% for popular_item in popular_items %}
                                                <tr class="filament-tables-row hover:bg-gray-50 dark:hover:bg-gray-500/10">
                                                            <td class="filament-tables-cell dark:text-white">
                                                                <a href="{% url 'custom_admin:update_task' popular_item.slug %}" target="_blank">
                                                                    <div class="filament-tables-text-column px-4 py-3">
                                                                        {{popular_item.name}}
                                                                    </div>
                                                                </a>
                                                            </td>
                                                        </a>
                                                    <td class="filament-tables-cell dark:text-white">
                                                        <div class="filament-tables-text-column px-4 py-3">
                                                            {{popular_item.get_vote_count}}
                                                        </div>
                                                    </td>
                                                    <td class="filament-tables-cell dark:text-white">
                                                        <div class="filament-tables-text-column px-4 py-3">
                                                            {{popular_item.project.title|default_if_none:"-"}}
                                                        </div>
                                                    </td>
                                                    <td class="filament-tables-cell dark:text-white">
                                                        <div class="filament-tables-text-column px-4 py-3">
                                                            {{popular_item.type.name|default_if_none:""}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
{% endblock %}