{% extends 'custom_admin/admin_base.html' %}
{% load static %}
{% block content %}
    <div class="filament-main-content flex-1 w-full px-4 mx-auto md:px-6 lg:px-8 max-w-full">


        <div class="filament-main-content flex-1 w-full px-4 mx-auto md:px-6 lg:px-8 max-w-full">


            <div class="filament-page filament-resources-list-records-page filament-resources-users">
                <div class="space-y-6">
                    <header
                        class="filament-header space-y-2 items-start justify-between sm:flex sm:space-y-0 sm:space-x-4  sm:rtl:space-x-reverse sm:py-4">
                        <h1 class="text-2xl font-bold tracking-tight md:text-3xl filament-header-heading">
                            Items
                        </h1>

                        <div class="filament-page-actions flex flex-wrap items-center gap-4 justify-start shrink-0">
                            <a href="{% url 'custom_admin:new_task' %}">
                                <button class="bg-blue-600 filament-button inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset dark:focus:ring-offset-0 min-h-[2.25rem] px-4 text-sm text-gray-800 bg-white border-gray-300 focus:ring-primary-600 focus:text-primary-600 focus:bg-primary-50 focus:border-primary-600 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:text-gray-200 dark:focus:text-primary-400 dark:focus:border-primary-400 dark:focus:bg-gray-800"
                                type="button">
                                 <span class="flex items-center gap-1 text-white"> <span class=""> New Item</span></span>
                                </button>
                            </a>
                        </div>
                    </header>

                    <div
                        class="border border-gray-300 shadow-sm bg-white rounded-xl filament-tables-container dark:bg-gray-800 dark:border-gray-700" x-data="Tasks()" x-effect="">
                        <div>
                            <div class="flex items-center justify-between p-2 h-14">
                                <div class="flex items-center gap-2">
                                </div>

                                <div class="w-full flex items-center justify-end gap-2 md:max-w-md">
                                    <div class="flex-1 flex items-center justify-end">
                                        <div class="filament-tables-search-input">
                                            <label for="tableSearchInput" class="sr-only">
                                                Search
                                            </label>

                                            <div class="relative group">
                                                <span
                                                    class="absolute inset-y-0 left-0 flex items-center justify-center w-9 h-9 text-gray-400 pointer-events-none group-focus-within:text-primary-500">
                                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                        aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                                    </svg> </span>

                                                <input wire:model.debounce.500ms="tableSearchQuery"
                                                    id="tableSearchInput" placeholder="Search" type="search"
                                                    autocomplete="off"
                                                       x-ref="searchField"
                                                        x-model="search"
                                                        x-on:click="viewPage(0)"
                                                        x-on:keydown.window.prevent.slash=" viewPage(0), $refs.searchField.focus()"
                                                    class="block h-9 w-full max-w-xs rounded-lg border-gray-300 pl-9 placeholder-gray-400 shadow-sm transition duration-75 focus:border-primary-500 focus:ring-1 focus:ring-inset focus:ring-primary-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div wire:key="ySOoly1CvoPY5k7s1w4y.table.selection.indicator"
                            class="filament-tables-selection-indicator bg-primary-500/10 px-4 py-2 whitespace-nowrap text-sm border-t dark:border-gray-700"
                             style="display: none;">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class="animate-spin inline-block animate-spin w-4 h-4 mr-3 text-primary-500"
                                style="display: none;">
                                <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                    fill="currentColor"></path>
                                <path d="M2 12C2 6.47715 6.47715 2 12 2V5C8.13401 5 5 8.13401 5 12H2Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>


                        <div class="overflow-y-auto relative dark:border-gray-700 border-t">
                            <table
                                class="filament-tables-table w-full text-left rtl:text-right divide-y table-auto dark:divide-gray-700">
                                <thead>
                                    <tr class="bg-gray-500/5">
                                        <td class="filament-tables-checkbox-cell w-4 px-4 whitespace-nowrap">
                                            <input
                                                class="block border-gray-300 rounded shadow-sm text-primary-600 focus:ring focus:ring-primary-200 focus:ring-opacity-50 dark:bg-gray-700 dark:border-gray-600 dark:checked:bg-primary-600 dark:checked:border-primary-600"
                                                type="checkbox">
                                        </td>


                                        <th class="filament-tables-header-cell p-0" @click="sort('name')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                    Title
                                                </span>

                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('project__title')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                    Project
                                                </span>

                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('type__name')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                    Board
                                                </span>
                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('created_by__email')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                     User
                                                </span>
                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('created')">
                                            <button wire:click="sortTable('created_at')" type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 ">
                                                <span>
                                                    Date
                                                </span>

                                                <svg class="filament-tables-header-cell-sort-icon h-3 w-3 dark:text-gray-300"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                        clip-rule="evenodd"></path>
                                                </svg> </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('is_pinned')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span>
                                                     Pinned
                                                </span>
                                            </button>
                                        </th>
                                        <th class="w-5"></th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y whitespace-nowrap dark:divide-gray-700">
                                
                                <tr x-show="tasks.length == 0">
                                    <td colspan="7">
                                        <div class="flex items-center justify-center p-4">
                                            <div class="filament-tables-empty-state flex flex-1 flex-col items-center justify-center p-6 mx-auto space-y-6 text-center bg-white">
                                                <div class="max-w-md space-y-1">
                                                    <h2 class="filament-tables-empty-state-heading text-xl font-bold tracking-tight">
                                                        No tasks found
                                                    </h2>
                                                    <p class="filament-tables-empty-state-description whitespace-normal text-sm font-medium text-gray-500">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                                <template x-for="task in tasks" :key="task">
                                    <tr class="filament-tables-row hover:bg-gray-50 dark:hover:bg-gray-500/10">
                                        <td
                                            class="filament-tables-reorder-cell w-4 px-4 whitespace-nowrap text-gray-500 transition group-hover:text-primary-500 dark:text-gray-400 dark:group-hover:text-primary-400 hidden">
                                            <svg class="block h-4 w-4 fill-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M4 6h16M4 12h16M4 18h16"></path>
                                            </svg>
                                        </td>

                                        <td class="filament-tables-checkbox-cell w-4 px-4 whitespace-nowrap">
                                            <input
                                                class="block border-gray-300 rounded shadow-sm text-primary-600 focus:ring focus:ring-primary-200 focus:ring-opacity-50 dark:bg-gray-700 dark:border-gray-600 dark:checked:bg-primary-600 dark:checked:border-primary-600 table-row-checkbox"
                                                type="checkbox">
                                        </td>

                                        <td class="filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                               <div class="filament-tables-text-column px-4 py-3 whitespace-normal">
                                                 <p x-text="task.name"></p>
                                               </div>
                                        </td>
                                        <td class="cursor-pointer filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <a @click="window.location.href=window.reverse('custom_admin:update_project', { slug: task.project__slug })">
                                               <div class="filament-tables-text-column px-4 py-3 whitespace-normal">
                                                 <p x-text="task.project__title"></p>
                                               </div>
                                            </a>
                                        </td>

                                        <td class="filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <div class="filament-tables-text-column px-4 py-3 whitespace-normal">
                                                <p x-text="task.type__name"></p>
                                            </div>
                                        </td>

                                        <td class="cursor-pointer filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <a @click="window.location.href=window.reverse('custom_admin:update_user', { pk: task.created_by__id })">
                                                <div class="filament-tables-text-column px-4 py-3 whitespace-normal">
                                                    <p x-text="task.created_by__email"></p>
                                                </div>
                                            </a>
                                        </td>

                                        <td class="filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                                <div class="filament-tables-text-column px-4 py-3">
                                                    <p x-text="date_format(task.created)"></p>
                                                </div>
                                        </td>

                                        <td class="filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <div class="filament-tables-text-column px-4 py-3">
                                                <div x-show="task.is_pinned">
                                                    <svg class="w-6 h-6 text-success-500" xmlns="http://www.w3.org/2000/svg" color="green" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                    </svg>
                                                </div>
                                                <div x-show="!task.is_pinned">
                                                    <svg class="w-6 h-6 text-danger-500" xmlns="http://www.w3.org/2000/svg" fill="none" color="red" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                                      <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>


                                        <td wire:loading.remove.delay=""
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set"
                                            class="filament-tables-actions-cell px-4 py-3 whitespace-nowrap">
                                            <div class="flex items-center gap-4 justify-end">
                                                <a class="cursor-pointer text-blue-600 filament-link inline-flex items-center justify-center gap-0.5 font-medium hover:underline focus:outline-none focus:underline text-sm text-primary-600 hover:text-primary-500 dark:text-primary-500 dark:hover:text-primary-400 filament-tables-link-action"
                                                  @click="window.location.href=window.reverse('custom_admin:update_task', { slug: task.slug })"
                                                    dusk="filament.tables.action.edit">
                                                    <svg class="filament-link-icon w-4 h-4 mr-1 rtl:ml-1"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                        fill="currentColor" aria-hidden="true">
                                                        <path
                                                            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                                        </path>
                                                    </svg>
                                                    Edit
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>

                        <div class="p-2 border-t dark:border-gray-700" x-show="tasks.length != 0">
                            <nav role="navigation" aria-label="Pagination Navigation"
                                class="filament-tables-pagination flex items-center justify-between">
                                <div class="flex justify-between items-center flex-1 lg:hidden">
                                    <div class="w-10">
                                    </div>
                                    <div
                                        class="flex items-center space-x-2 filament-tables-pagination-records-per-page-selector rtl:space-x-reverse">
                                        <select x-on:change="changeSize($event.target.value)" wire:model="tableRecordsPerPage" id="tableRecordsPerPageSelect"
                                            class="h-8 text-sm pr-8 leading-none transition duration-75 border-gray-300 rounded-lg shadow-sm focus:border-primary-500 focus:ring-1 focus:ring-inset focus:ring-primary-500 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:focus:border-primary-500">
                                            <template x-for="option in options" :key="option">
                                              <option :value="option" x-text="option"></option>
                                            </template>
                                        </select>
                                        <label for="tableRecordsPerPageSelect"
                                            class="text-sm font-medium dark:text-white">
                                            per page
                                        </label>
                                    </div>

                                    <div class="w-10">
                                        <button title="Next" type="button"
                                            class="filament-icon-button flex items-center justify-center rounded-full relative hover:bg-gray-500/5 focus:outline-none text-primary-500 focus:bg-primary-500/10 dark:hover:bg-gray-300/5 w-10 h-10"
                                            wire:click="nextPage('page')" rel="next">
                                            <span class="sr-only">
                                                Next
                                            </span>
                                            <svg class="filament-icon-button-icon w-5 h-5"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="2" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>


                                <div class="hidden flex-1 items-center lg:grid grid-cols-3">
                                    <div class="flex items-center">
                                        <div class="pl-2 text-sm font-medium dark:text-white">
                                            Showing <span x-text="startResults()"></span> to <span x-text="endResults()"></span> of <span x-text="total"></span> results
                                        </div>
                                    </div>

                                    <div class="flex items-center justify-center">
                                        <div
                                            class="flex items-center space-x-2 filament-tables-pagination-records-per-page-selector rtl:space-x-reverse">
                                            <select x-on:change="changeSize($event.target.value)" class="h-8 text-sm pr-8 leading-none transition duration-75 border-gray-300 rounded-lg shadow-sm focus:border-primary-500 focus:ring-1 focus:ring-inset focus:ring-primary-500 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:focus:border-primary-500">
                                                <template x-for="option in options" :key="option">
                                                    <option :value="option" x-text="option"></option>
                                                </template>
                                            </select>

                                            <label for="tableRecordsPerPageSelect"
                                                class="text-sm font-medium dark:text-white">
                                                per page
                                            </label>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <div class="py-3 border rounded-lg dark:border-gray-600">
                                            <ol class="flex items-center text-sm text-gray-500 divide-x rtl:divide-x-reverse divide-gray-300 dark:text-gray-400 dark:divide-gray-600">
                                                <li>
                                                    <button type="button"
                                                        class="filament-tables-pagination-item relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md focus:outline-none hover:bg-gray-500/5 focus:bg-primary-500/10 focus:ring-2 focus:ring-primary-500 dark:hover:bg-gray-400/5 transition text-primary-600"
                                                         x-on:click="prevPage" :disabled="pageNumber==0" :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }" aria-label="Next" rel="next">
                                                        <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span></span>
                                                    </button>
                                                </li>
                                                <template x-for="(page,index) in pages()" :key="index">
                                                    <li>
                                                        <button type="button"
                                                            class="filament-tables-pagination-item relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md focus:outline-none hover:bg-gray-500/5 focus:bg-primary-500/10 focus:ring-2 focus:ring-primary-500 dark:hover:bg-gray-400/5 focus:text-primary-600 transition"
                                                             x-on:click="viewPage(index)">
                                                            <span x-text="index+1"></span>
                                                        </button>
                                                    </li>
                                                </template>
                                                <li>
                                                    <button type="button"
                                                        class="filament-tables-pagination-item relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md focus:outline-none hover:bg-gray-500/5 focus:bg-primary-500/10 focus:ring-2 focus:ring-primary-500 dark:hover:bg-gray-400/5 transition text-primary-600"
                                                          x-on:click="viewPage(Math.ceil(total/size)-1)" :disabled="pageNumber >= pageCount() -1" :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= pageCount() -1 }">
                                                        <svg class="w-5 h-5 rtl:scale-x-[-1]"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                            fill="currentColor" aria-hidden="true">
                                                            <path fill-rule="evenodd"
                                                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                                clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span></span>
                                                    </button>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      var tasks = {{tasks|safe}}
</script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/tasks.js' %}"></script>
</body>
{% endblock %}

