{% extends 'custom_admin/admin_base.html' %}
{% load static %}
{% block content %}
    <div class="filament-main-content flex-1 w-full px-4 mx-auto md:px-6 lg:px-8 max-w-full">
        <div class="filament-main-content flex-1 w-full px-4 mx-auto md:px-6 lg:px-8 max-w-full">
            <div class="filament-page filament-resources-list-records-page filament-resources-users">
                <div class="space-y-6">
                    <header
                        class="filament-header space-y-2 items-start justify-between sm:flex sm:space-y-0 sm:space-x-4  sm:rtl:space-x-reverse sm:py-4">
                        <h1 :class="[light ? 'text-black' : 'text-white']" class="text-2xl font-bold tracking-tight md:text-3xl filament-header-heading">
                            Votes
                        </h1>
                    </header>

                    <div :class="[light ? 'bg-white' : 'bg-[#26242e]']"
                        class="border border-gray-300 shadow-sm rounded-xl filament-tables-container dark:bg-gray-800 dark:border-gray-700" x-data="Votes()" x-init="init()">
                        <div>
                            <div class="flex items-center justify-between p-2 h-14">
                                <div class="flex items-center gap-2">
                                </div>

                                <div class="w-full flex items-center justify-end gap-2 md:max-w-md">
                                    <div class="flex-1 flex items-center justify-end">
                                        <div class="filament-tables-search-input">
                                            <label for="tableSearchInput" class="sr-only">
                                                Search
                                            </label>

                                            <div class="relative group">
                                                <span
                                                    class="absolute inset-y-0 left-0 flex items-center justify-center w-9 h-9 text-gray-400 pointer-events-none group-focus-within:text-primary-500">
                                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                        aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                                    </svg> </span>

                                                <input wire:model.debounce.500ms="tableSearchQuery"
                                                    id="tableSearchInput" placeholder="Search" type="search"
                                                    autocomplete="off"
                                                       x-ref="searchField"
                                                        x-model="search"
                                                        x-on:click="viewPage(0)"
                                                        x-on:keydown.window.prevent.slash=" viewPage(0), $refs.searchField.focus()"
                                                    class="block h-9 w-full max-w-xs rounded-lg border-gray-300 pl-9 placeholder-gray-400 shadow-sm transition duration-75 focus:border-primary-500 focus:ring-1 focus:ring-inset focus:ring-primary-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="overflow-y-auto relative dark:border-gray-700 border-t">
                            <table
                                class="filament-tables-table w-full text-left rtl:text-right divide-y table-auto dark:divide-gray-700">
                                <thead>
                                    <tr class="bg-gray-500/5">
                                        <td class="filament-tables-checkbox-cell w-4 px-4 whitespace-nowrap">
                                            <input
                                                class="block border-gray-300 rounded shadow-sm text-primary-600 focus:ring focus:ring-primary-200 focus:ring-opacity-50 dark:bg-gray-700 dark:border-gray-600 dark:checked:bg-primary-600 dark:checked:border-primary-600"
                                                type="checkbox">
                                        </td>


                                        <th class="filament-tables-header-cell p-0" @click="sort('user__email')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span :class="[light ? 'text-black' : 'text-white']">
                                                    User
                                                </span>

                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('task__name')">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span :class="[light ? 'text-black' : 'text-white']">
                                                    Item
                                                </span>

                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0">
                                            <button type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 cursor-default ">
                                                <span :class="[light ? 'text-black' : 'text-white']">
                                                    Subscribed
                                                </span>

                                            </button>
                                        </th>
                                        <th class="filament-tables-header-cell p-0" @click="sort('created')">
                                            <button wire:click="sortTable('created_at')" type="button"
                                                class="flex items-center w-full px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 ">
                                                <span :class="[light ? 'text-black' : 'text-white']">
                                                    Date
                                                </span>

                                                <svg :class="[light ? 'text-black' : 'text-white']" class="filament-tables-header-cell-sort-icon h-3 w-3 dark:text-gray-300"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                        clip-rule="evenodd"></path>
                                                </svg> </button>
                                        </th>
                                        <th class="w-5"></th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y whitespace-nowrap dark:divide-gray-700">
                                
                                <tr x-show="votes.length == 0">
                                    <td colspan="7">
                                        <div class="flex items-center justify-center p-4">
                                            <div :class="[light ? '' : 'bg-[#26242e]']" class="filament-tables-empty-state flex flex-1 flex-col items-center justify-center p-6 mx-auto space-y-6 text-center bg-white">
                                                <div class="max-w-md space-y-1">
                                                    <h2 :class="[light ? 'text-black' : 'text-white']" class="filament-tables-empty-state-heading text-xl font-bold tracking-tight">
                                                        No votes found
                                                    </h2>
                                                    <p class="filament-tables-empty-state-description whitespace-normal text-sm font-medium text-gray-500">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                                <template x-for="vote in votes" :key="vote">
                                    <tr :class="[light ? 'hover:bg-gray-50 dark:hover:bg-gray-500/10' :'hover:bg-black-50 dark:hover:bg-black-500/10']" class="filament-tables-row">
                                        <td
                                            class="filament-tables-reorder-cell w-4 px-4 whitespace-nowrap text-gray-500 transition group-hover:text-primary-500 dark:text-gray-400 dark:group-hover:text-primary-400 hidden">
                                            <svg class="block h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M4 6h16M4 12h16M4 18h16"></path>
                                            </svg>
                                        </td>

                                        <td class="filament-tables-checkbox-cell w-4 px-4 whitespace-nowrap">
                                            <input
                                                class="block border-gray-300 rounded shadow-sm text-primary-600 focus:ring focus:ring-primary-200 focus:ring-opacity-50 dark:bg-gray-700 dark:border-gray-600 dark:checked:bg-primary-600 dark:checked:border-primary-600 table-row-checkbox"
                                                type="checkbox">
                                        </td>

                                        <td class="cursor-pointer filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <a @click="window.location.href=window.reverse('custom_admin:update_user', { pk: vote.user__id })">
                                               <div class="filament-tables-text-column px-4 py-3 whitespace-normal">
                                                 <p :class="[light ? 'text-black' : 'text-white']" x-text="vote.user__email"></p>
                                               </div>
                                            </a>

                                        </td>

                                        <td class="cursor-pointer filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <a @click="window.location.href=window.reverse('custom_admin:update_task', { slug: vote.task__slug })">
                                                <div class="filament-tables-text-column px-4 py-3 whitespace-normal">
                                                    <p  :class="[light ? 'text-black' : 'text-white']" x-text="vote.task__name"></p>
                                                </div>
                                            </a>
                                        </td>

                                        <td class="filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <div class="filament-tables-text-column px-4 py-3">
                                                <div x-show="vote.task__is_subscribed">
                                                    <svg class="w-6 h-6 text-success-500" xmlns="http://www.w3.org/2000/svg" fill="none" color="green" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                    </svg>
                                                </div>
                                                <div x-show="!vote.task__is_subscribed">
                                                    <svg class="w-6 h-6 text-danger-500" xmlns="http://www.w3.org/2000/svg" fill="none" color="red" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                                      <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                    </svg>
                                                </div>
                                            </div>

                                        </td>

                                        <td class="filament-tables-cell dark:text-white"
                                            wire:loading.remove.delay="wire:loading.remove.delay"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                                <div class="filament-tables-text-column px-4 py-3">
                                                    <p :class="[light ? 'text-black' : 'text-white']" x-text="date_format(vote.created)"></p>
                                                </div>
                                        </td>
                                        <td class="w-full px-4 py-4 animate-pulse hidden" colspan="6"
                                            wire:loading.class.remove.delay="hidden"
                                            wire:target="previousPage,nextPage,gotoPage,sortTable,tableFilters,resetTableFiltersForm,tableSearchQuery,tableColumnSearchQueries,tableRecordsPerPage,$set">
                                            <div class="h-4 bg-gray-300 rounded-md dark:bg-gray-600"></div>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>

                        <div class="p-2 border-t dark:border-gray-700" x-show="votes.length != 0">
                            <nav role="navigation" aria-label="Pagination Navigation"
                                class="filament-tables-pagination flex items-center justify-between">
                                <div class="flex justify-between items-center flex-1 lg:hidden">
                                    <div class="w-10">
                                    </div>
                                    <div
                                        class="flex items-center space-x-2 filament-tables-pagination-records-per-page-selector rtl:space-x-reverse">
                                        <select x-on:change="changeSize($event.target.value)" wire:model="tableRecordsPerPage" id="tableRecordsPerPageSelect"
                                            class="h-8 text-sm pr-8 leading-none transition duration-75 border-gray-300 rounded-lg shadow-sm focus:border-primary-500 focus:ring-1 focus:ring-inset focus:ring-primary-500 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:focus:border-primary-500">
                                            <template x-for="option in options" :key="option">
                                              <option :value="option" x-text="option"></option>
                                            </template>
                                        </select>
                                        <label :class="[light ? 'text-black' : 'text-white']" for="tableRecordsPerPageSelect"
                                            class="text-sm font-medium dark:text-white">
                                            per page
                                        </label>
                                    </div>

                                    <div class="w-10">
                                        <button title="Next" type="button" :class="[light ? 'text-black' : 'text-white']"
                                            class="filament-icon-button flex items-center justify-center rounded-full relative hover:bg-gray-500/5 focus:outline-none text-primary-500 focus:bg-primary-500/10 dark:hover:bg-gray-300/5 w-10 h-10"
                                            wire:click="nextPage('page')" rel="next">
                                            <span class="sr-only">
                                                Next
                                            </span>
                                            <svg class="filament-icon-button-icon w-5 h-5"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="2" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>


                                <div class="hidden flex-1 items-center lg:grid grid-cols-3">
                                    <div class="flex items-center">
                                        <div :class="[light ? 'text-black' : 'text-white']" class="pl-2 text-sm font-medium dark:text-white">
                                            Showing <span x-text="startResults()"></span> to <span x-text="endResults()"></span> of <span x-text="total"></span> results
                                        </div>
                                    </div>

                                    <div class="flex items-center justify-center">
                                        <div
                                            class="flex items-center space-x-2 filament-tables-pagination-records-per-page-selector rtl:space-x-reverse">
                                            <select x-on:change="changeSize($event.target.value)" class="h-8 text-sm pr-8 leading-none transition duration-75 border-gray-300 rounded-lg shadow-sm focus:border-primary-500 focus:ring-1 focus:ring-inset focus:ring-primary-500 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:focus:border-primary-500">
                                                <template x-for="option in options" :key="option">
                                                  <option :value="option" x-text="option"></option>
                                                </template>
                                            </select>

                                            <label :class="[light ? 'text-black' : 'text-white']" for="tableRecordsPerPageSelect"
                                                class="text-sm font-medium dark:text-white">
                                                per page
                                            </label>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <div class="py-3 border rounded-lg dark:border-gray-600">
                                            <ol class="flex items-center text-sm text-gray-500 divide-x rtl:divide-x-reverse divide-gray-300 dark:text-gray-400 dark:divide-gray-600">
                                                <li>
                                                    <button type="button" :class="[light ? 'text-black' : 'text-white']"
                                                        class="filament-tables-pagination-item relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md focus:outline-none hover:bg-gray-500/5 focus:bg-primary-500/10 focus:ring-2 focus:ring-primary-500 dark:hover:bg-gray-400/5 transition text-primary-600"
                                                         x-on:click="prevPage" :disabled="pageNumber==0" :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }" aria-label="Next" rel="next">
                                                        <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span></span>
                                                    </button>
                                                </li>
                                                <template x-for="(page,index) in pages()" :key="index">
                                                    <li>
                                                        <button type="button" :class="[light ? 'text-black' : 'text-white']"
                                                            class="filament-tables-pagination-item relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md focus:outline-none hover:bg-gray-500/5 focus:bg-primary-500/10 focus:ring-2 focus:ring-primary-500 dark:hover:bg-gray-400/5 focus:text-primary-600 transition"
                                                             x-on:click="viewPage(index)">
                                                            <span x-text="index+1"></span>
                                                        </button>
                                                    </li>
                                                </template>
                                                <li>
                                                    <button type="button" :class="[light ? 'text-black' : 'text-white']"
                                                        class="filament-tables-pagination-item relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md focus:outline-none hover:bg-gray-500/5 focus:bg-primary-500/10 focus:ring-2 focus:ring-primary-500 dark:hover:bg-gray-400/5 transition text-primary-600"
                                                          x-on:click="viewPage(Math.ceil(total/size)-1)" :disabled="pageNumber >= pageCount() -1" :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= pageCount() -1 }">
                                                        <svg class="w-5 h-5 rtl:scale-x-[-1]"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                            fill="currentColor" aria-hidden="true">
                                                            <path fill-rule="evenodd"
                                                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                                clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span></span>
                                                    </button>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
      var votes = {{votes|safe}}
</script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/votes.js' %}"></script>
</body>
{% endblock %}
